@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;
@font-family-base: @font-family-sans-serif;
@font-family-text: "Open Sans Light", Helvetica, Arial, sans-serif;
@bg-color: #00aed7;
@btn-primary: @bg-color;
@dark-title-color: #484f51;
@main-title-border-color: #aaaaaa;
@icon-font-path: '/fonts/';

h2, h3 {
  &.dark {
    color: @dark-title-color;
  }
}

p {
  font-family: @font-family-text;
}

textarea {
  resize: vertical;
}

@import "top";
@import "welcome";
@import "gallery";

#maps-container {
  height: 400px;
}

#content {
  .normal-pointer {
    cursor: default;
  }

  h1 {
    border-bottom: 1px @main-title-border-color solid;
    padding-bottom: 8px;

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      font-size: 28px;
    }
  }

  #page-actions {
    float: right;

    @media (max-width: @screen-xs-max) {
      & {
        display: none;
      }
    }
  }

  h1 span:not(.btn), h2 span:not(.btn) {
    font-size: 60%;
    color: lighten(@dark-title-color, 10%);
  }

  table.no-heading {
    tr:first-child td {
      border-top: none;
    }
  }

  .list-group {
    .list-group-item {
      .label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
      }
    }
  }

  .featured-coffee-shop.active {
    opacity: .7;
  }
}

.full-height {
  height: 100% !important;
}

.font-inherit {
  font-size: inherit !important;
  color: inherit !important;
}

.rating-yes {
  color: #eea236;
}

.rating-no {
  color: #888;
}

#coffee-shop-presentation {
  background-color: #f3f3f1;

  #coffee-shop-about {
    padding: 30px 10px;
  }
}

#coffee-shop-info {
  position: absolute;
  left: 0;
  right: 0;

  .panel {
    label, .btn {
      width: 100%;
      padding: 10px;
      font-weight: normal;
      border-radius: 1px;

      .fa, .glyphicon {
        width: 10%;
      }

      span.panel-input {
        padding-left: 5px;
      }

      .panel-input {
        width: 90%;
        float: right;
      }
    }

    label, .panel-input {
      background-color: #e9e9e9;
      border: 0;
      border-radius: 1px;
    }

    label {
      margin-bottom: 15px;
    }
  }
}

#best-review-and-features-available {
  background-color: #ebebe7;
  position: relative;

  z-index: 5;

  padding: 35px 0;
}

#coffee-shop-description {
  z-index: 10;
  position: relative;

  #coffee-shop-best-review {
    background: url(/img/shared/review-quote.png) no-repeat 0 7px;
    padding-left: 40px;
    font-style: italic;
    font-weight: normal;
    color: #929191;
    font-size: 16pt;
    font-family: @font-family-text;
  }
}

#coffee-shop-about {
  .btn {
    margin-right: 10px;
    margin-top: 10px;
  }
}
