@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif;
@font-family-base: @font-family-sans-serif;
@font-family-text: "Open Sans Light", Helvetica, Arial, sans-serif;
@bg-color: #00aed7;
@btn-primary: @bg-color;
@dark-title-color: #484f51;
@main-title-border-color: #aaaaaa;

h2, h3 {
  &.dark {
    color: @dark-title-color;
  }
}

p {
  font-family: @font-family-text;
}

textarea {
  resize: vertical;
}

@import "top";
@import "welcome";

#maps-container {
  height: 400px;
}

#content {
  h1 {
    border-bottom: 1px @main-title-border-color solid;
    padding-bottom: 8px;
  }

  #page-actions {
    float: right;
  }

  h2 span {
    font-size: 60%;
  }

  table.no-heading {
    tr:first-child td {
      border-top: none;
    }
  }
}
