.search-results-title {
  padding: 3em;
  background-color: #ebebe7;

  h6 {
    font-size: 18pt;
    color: #bbbcba;
  }

  h2 {
    font-size: 35.69pt;
    color: #484f51;
  }
}

.search-results {
  height: 800px;
  margin: 5px;
  overflow-y: auto;
}

.maps-container {
  @media (min-width: @screen-sm-min) {
    height: 1120px;
  }
}
