#top-container {
  background-color: #0074BC;
  position: relative;
  box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.20);
  z-index:1;

  .navbar {
    margin-bottom: 0;
    z-index: 2;

    .navbar-header {
      a {
        display: block;
        height: auto;
      }

      .navbar-toggle {
        &:hover,
        &:focus {
          background-color: @navbar-default-toggle-hover-bg;
        }
        .icon-bar {
          background-color: @navbar-default-toggle-icon-bar-bg;
        }
      }
    }

    .navbar-collapse, .navbar-header {
      ul.nav {
        margin: 18px 0;

        a {
          color: #fff;

          @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            padding: 15px 10px;
          }

          @media (min-width: @screen-lg-min) {
            padding-bottom: 5px;
            padding-top: 5px;
          }
        }

        a:hover, a:focus {
          background-color: #ffffff;
          color: #4b4b4b !important;
        }

        li.sign-up {
          background-color: #796f6c;

          a {
            color: #ffffff !important;
          }

          a:hover, a:focus {
            background-color: #333333;
            color: #ffffff !important;
          }
        }

        li.sign-in {

          > a {
            background-color: #ff9d3a;
            color: #ffffff !important;
          }

          > a:hover, a:focus {
            background-color: #cc6600;
            color: #ffffff !important;
          }
        }

        li.sign-in, li.sign-up {
          &, > a, > a:hover, > a:active {
            border-radius: 13px !important;
          }
        }

        ul.dropdown-menu a {
          color: #4b4b4b;

          &:hover {
            color: #4b4b4b;
            background-color: @bg-color;
          }
        }
      }
    }
  }
}

#splash {
  position: absolute;
  width: 100%;
  height: 550px;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(/img/welcome/splash.png);
  background-size: cover;

  #splash-contents {
    z-index: 5;
    position: relative;
    top: 30%;
    height: 0;
    h4 {
      text-align: center;
      color: white;
      font-family: "Open Sans";
      font-weight:500;  
    }
    h1 {
      text-align: center;
      color: white;
      font-size: 30pt;
      margin-top:0px;

      @media (max-width: @screen-xs-max) {
        font-size: 25pt;
      }
    }

    form {
      margin: 50px auto auto;
      width: 50%;
      opacity: .9;

      @media (max-width: @screen-xs-max) {
        margin: 20px auto auto;
        width: 80%;
      }

      .form-group {
        width: 100%;
        margin: auto;

        .input-group {
          white-space: nowrap;
          width: 100%;
          input {height:46px !important;}

          @media (min-width: @screen-md-min) {
            display: block;
            width: 80%;
            margin: auto;
          }

          .form-control {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            width: 80%;

            @media (max-width: @screen-xs-max) {
              width: 100%;
              display: block;
              border-radius: 0;
              font-size: 11pt;
            }
          }

          .btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            width: 20%;

            @media (max-width: @screen-xs-max) {
              width: 100%;
              display: block;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

#footer {
  background-image: url(/img/welcome/splash.png);
  background-size: cover;
  padding: 50px;
  h2 {
    color: white;
    text-align: center;
  }
  @media (max-width: @screen-xs-max) {
   padding:15px;
  }
  form {
    margin: 50px auto auto;
    width: 50%;
    opacity: .9;
    .form-group {
      width: 100%;
      margin: auto;

      .input-group {
        white-space: nowrap;
        width: 100%;

        @media (min-width: @screen-md-min) {
          display: block;
          width: 80%;
          margin: auto;
        }

        .form-control {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          width: 80%;

          @media (max-width: @screen-xs-max) {
            width: 60%;
          }
        }

        .btn {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          width: 20%;
          min-width:110px;
          @media (max-width: @screen-xs-max) {
            width: 40%
          }
        }
      }
    }


    @media (max-width: @screen-xs-max) {
      width:100%;
      .form-group {
        .input-group {
          .btn {
            float:left; 
            clear:left; 
            width:100%;
            border-radius:0px 0px 6px 6px; 

          }
          #query {
            float:left; 
            clear:left; 
            width:100%;
            border-radius:6px 6px 0 0 ; 
          } 
          input {
            float:left; 
            clear:left; 
            width:100%;
          }
        }
      }

    }
  }
}

#bottom-footer {
  background-color: #2e2c2c;
  padding: 50px;
  text-align: center;

  img {
    margin-bottom: 50px;
  }

  .my-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 1.5em;
    text-align: center;
    border-bottom: 1px #3e3e3e solid;
    width: 100%;

    @media (min-width: @screen-md-min) {
      width: 50%;
      margin: auto;
    }

    li {
      display: inline;
      a {
        display: inline-block;
        padding: 10px;
        color: #bdbdbd;
      }
    }
  }

  #terms-and-conditions {
    color: #bdbdbd;
    margin-top: 30px;

    a {
      color: #bdbdbd;
      text-decoration: underline;
    }
  }
}

#show-coffee-shop {
  padding: 0;

  & > .row {
    margin: auto;
    max-width: 1200px;
    background-color: black;
  }

  #coffee-shop-image {
    min-height: 600px;
    opacity: .5;

    @media (max-width: @screen-xs-max) {
      min-height: 400px;
      height: 400px;
    }
  }
}

#coffee-shop-info {
  position: relative;
  z-index: 3;
  margin-top: -200px;

  @media (max-width: @screen-xs-max) {
    margin-top: -420px;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    margin-top: -330px;
    height: 330px;
  }

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    margin-top: -230px;
  }

  h1, h3 {
    border: none !important;
    color: #fff !important;
  }

  h1 {
    font-size: 45pt !important;
    margin-bottom: 0;
    margin-top: 0;

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      font-size: 35pt !important;
    }
  }

  h3 {
    font-size: 23.62pt;
    font-family: @font-family-text;
    font-style: italic;
    margin-top: 0;

    .glyphicon {
      top: 3px;
    }

    .ratings {
      display: inline-block;

      @media (min-width: @screen-lg-min) {
        margin-left: 30px;
      }

      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 10px;
      }
    }
  }

  .panel {
    @media (max-width: @screen-xs-max) {
      margin-top: 40px;
    }

    border-radius: 0;

    .panel-heading {
      border-radius: 0;
    }
  }
}

#order-top {
  position:relative;
  background:#000;
  .order-top-overlay {background:rgba(69,60,68,0.75); position:absolute; left:0px; top:0px; right:0px; bottom:0px; z-index:2;}
    .container {padding-bottom:0px !important; z-index:3; position:relative;}
    h1.shop_name {font-size:45px; color:#fff; text-align:center; border-bottom:0px; margin-top:50px;}
    h3 {font-size:18px; color:#fff; text-align:center;}
    .ratings {margin:0 auto; display:block; text-align:center;}
    .rating-no {color:#fff;}
    .rating-yes {color:#ffe994;}
    .order_header {
      margin-top:50px;
      background:#00aed7;
      padding:20px;    
      h2 {color:#fff;font-size:20px; text-align:center; margin:0px;}
    }

}

#order {
  background:#f3f3f1;
  p {font-family:"Open Sans";}
  .order_left {
    float:left;
    width:10%;
    .number {
      font-size:25px;
      color:#00aed7;
    }
  }
  .order_right {

    float:left;
    width:90%;
    p.section-header {font-size:18px; margin-top:6px; font-weight:100; margin-bottom:10px;}
    label {font-family: "Open Sans"; font-weight:100;}
  } 
  .opening {
    font-weight:600;
    span {font-weight:700;}
    margin-top:10px;
  }
  .btn-panel {padding-left:0px; padding-right:0px;}
  .btn-panel-r {padding-left:15px;}
  #order-inner {
    padding-bottom:15px;
    background:#fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  }
  .remove-product {
    padding:2px 0 0; 
    height:25px;
    width:25px; 
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    margin-top:5px;
  }
}